.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

h1 {
  font-family: 'Abracadabra', cursive;
  color:#EF8B00;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

#magic-ball {
  width: 400px;
  height: 400px;
  margin-bottom: 1.5rem;
}

#question {
  width: 400px;
  height: 40px;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  background-color: rgb(100, 95, 95);
}
#question:active {
  border: black;
}
#submit {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #EF8B00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit:hover {
  background-color: #d77d00;
}

#answer {
  font-family: 'Cantarell', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #EF8B00;
  margin-top: 1.5rem;
  animation: appear 0.5s ease;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sparkle {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(5);
    opacity: 0;
  }
}

form.submitted::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  border: 2px solid white;
  animation: sparkle 1s ease-out forwards;
  opacity: 0;
  z-index: 100;
}


body {
  background-color: black;
}