.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Abracadabra', cursive;
  color:#EF8B00;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

img, iframe, video, object, embed {
  max-width: 100%;
  height: auto;
}

#magic-ball {
  width: 400px;
  height: 400px;
  object-fit: contain; /* resize image to fit its container */
}

#question:active {
  border: black;
}

.ask-submit-box {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

#question {
  flex: 1;
  margin-right: 10px;
  min-height: 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
}
#submit {
  font-family: 'Abracadabra', cursive;
  min-height: 40px;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  background-color: #EF8B00;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#submit:hover {
  background-color: #d77d00;
}

#answer {
  height: 4rem;
  font-family: 'Cantarell', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #EF8B00;
  margin-top: 1.5rem;
  animation: appear 2.5s ease;
}

body {
  margin: 0;
  padding: 0;

  background-color: black;
}

::placeholder {
  color: black;
}

input {
  outline: none;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  };
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  html, body {
    width: 100%;
    max-width: 100%;
  }
  #question {
    margin-right: 0;
  }
  .ask-submit-box {
    flex-wrap: wrap;
  }
  * {
    box-sizing: border-box;
  }
}